# TODO: Configurar API de generación de canciones
VITE_API_URL=https://api.meloviva.com
VITE_API_KEY=your_api_key_here

# TODO: Configurar pasarela de pago (Stripe recomendado)
VITE_STRIPE_PUBLIC_KEY=pk_test_your_stripe_key_here

# TODO: Configurar servicio de email (EmailJS o similar)
VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key